/*================================================================================================
    Start Breadcrumbs CSS
===================================================================================================*/
.ed-breadcrumbs {
  padding: 90px 0px;
  position: relative;
  z-index: 1;
  background-color: #fdfaf8;
}

.ed-breadcrumbs.background-image {
  background-image: none !important;
}
.ed-breadcrumbs__content {
  text-align: center;
}
.ed-breadcrumbs__title {
  font-size: 36px;
  margin-bottom: 24px;
  line-height: 1.25;
  text-wrap: balance;
}
.ed-breadcrumbs__menu {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.ed-breadcrumbs__menu li {
  color: var(--ed-paragraph-color);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.ed-breadcrumbs__menu li.active a {
  color: #df4343;
  font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .ed-breadcrumbs {
    padding: 80px 0px;
  }
}

@media only screen and (max-width: 767px) {
  .ed-breadcrumbs {
    padding: 56px 0px;
  }
  .ed-breadcrumbs__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

/*================================================================================================
    End Breadcrumbs CSS
===================================================================================================*/
